@import url('https://fonts.cdnfonts.com/css/draconian-typewriter');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$font-family1: 'Draconian Typewriter', sans-serif;
$font-family2: 'Special Elite';
$font-family3: 'Gothic A1', sans-serif;
$font-family4: 'Ubuntu', sans-serif;
$font-family5: 'Abel', sans-serif;
$font-family6: 'Merriweather', serif;
$font-family7: 'Montserrat', sans-serif;
$color1: rgb(129, 185, 129);

*::selection {
  background-color: $color1;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f5f4;
}

#root,
.App {
  height: 100%;
}

.animatedPage {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.secondPage {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  font-family: $font-family1;
  color: #000;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 150px;
  height: 100vh;
  z-index: 100;
  position: relative;
}
.header::before {
  height: 100vh;
  position: absolute;
  width: 100%;
  opacity: 0.75;
  top: 0;
  left: 0;
  content: '';
  background-position: center;
  background-size: cover;
  background-image: url('https://d.radikal.host/2023/02/03/290024511_173111291861811_6834651775604104610_n.jpg');
}

.main-wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

.header__inner {
  font-family: $font-family1;
  display: flex;
  justify-content: center;
}

.menu__list {
  padding: 40px 0;
  justify-content: center;
  text-transform: uppercase;
  font-family: $font-family3;
  position: relative;
  align-items: center;
  font-size: 18px;
  display: flex;

  &-item:hover {
    text-decoration: underline;
  }
  &-item + &-item {
    margin-left: 60px;
  }
}

.active {
  color: $color1;
  text-decoration: underline;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  font-size: 80px;
  &-img {
    max-width: 200px;
    margin-bottom: 75px;
  }
  &-store {
    font-size: 26px;
    margin-top: 75px;
    font-family: $font-family2;
    letter-spacing: 4px;
  }
}

// #Content
.content {
  flex-grow: 1;
  border-top: 1px solid rgb(240, 211, 211);
  padding: 100px 150px 200px 150px;
  &-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    font-family: $font-family4;
  }
  &-wrapper {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
    column-gap: 30px;
    &-item {
      overflow: hidden;
      min-height: 100%;
      box-shadow: 0 0 15px rgb(0 0 0 / 20%);
      &-img {
        object-fit: cover;
        object-position: top;
        transform: scale(1.1);
        width: 100%;
        height: 100%;
        transition: all 0.4s;
      }
      &-img:hover {
        transform: scale(1);
      }
    }
  }
}

.loading {
  text-align: center;
  margin: 30px;
  font-size: 20px;
  padding: 200px;
}

.about {
  height: 100vh;
  &__inner {
    font-size: 24px;
    font-family: $font-family3;
    position: relative;
    padding: 120px 50px 50px 50px;
  }
  &__inner::after {
    content: '';
    width: 30%;
    height: 60px;
    bottom: -150px;
    right: -100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/mwl.png);
    position: absolute;
  }
  &__title {
    color: $color1;
    font-size: 40px;
    margin-bottom: 50px;
  }
  &__text {
    margin-bottom: 20px;
    letter-spacing: 3px;
    line-height: 35px;
  }
}

.contacts {
  flex-grow: 1;
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 15rem;
  }
  &__item {
    border-left: 1px solid #000;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__link {
    font-size: 26px;
    font-family: $font-family5;
  }
  &__title {
    font-family: $font-family6;
    letter-spacing: 1px;
    margin-left: 20px;
    font-size: 38px;
  }
  &__svg {
    margin: 7px auto;
  }
}

.footer {
  width: 100%;
  height: 75px;
  &__title {
    margin-left: 10px;
    font-family: $font-family4;
  }
  &__item {
    margin-right: 10px;
  }
  &__inner {
    font-family: $font-family2;
    border-top: 1px solid #000;
    color: #000;
    align-items: center;
    font-size: 26px;
    padding-top: 20px;
    display: flex;
    justify-content: center;

    & svg {
      width: 30px;
      height: 30px;
    }
    &-link + &-link {
      margin-left: 6px;
    }
  }
}

.catalog {
  min-height: 100%;
  padding-bottom: 100px;
  &__content {
    padding-top: 30px;

    &-title {
      padding-left: 25px;
      font-size: 40px;
      font-family: $font-family6;
      margin: 20px 0;
    }
    &-large {
      grid-column: 3/5;
      height: 400px;
      display: flex;
      align-items: center;
      color: #434343;
      justify-content: center;
      font-size: 60px;
      font-family: $font-family4;
      &-link {
        margin-bottom: 25px;
        color: rgb(255, 203, 203);
        border-radius: 20px;
        padding: 20px;
      }
    }
    &-main {
      padding: 30px;
      height: 100vh;
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      gap: 50px;
    }
    &-item {
      max-height: 100%;
      box-shadow: 0 0 15px rgb(0 0 0 / 20%);
      padding-bottom: 5px;
      cursor: pointer;
      &-img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 300px;
        &:nth-child(4) {
          object-fit: center;
        }
      }
      &-text {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: $font-family5;
      }
      &-title {
        font-size: 24px;
      }
      &-price {
        font-size: 20px;
        margin: 10px 0;
      }
    }
  }
}

.fullItem {
  max-width: 900px;
  padding-top: 20px;
  flex-grow: 1;
  margin: 0 auto;
  &-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  &__btn {
    border: none;
    background-color: transparent;
    font-size: 27px;
    text-decoration: underline;
    cursor: pointer;
  }
  &__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
  }
  &__list {
    display: flex;
    gap: 20px;
  }

  &__info {
    width: 450px;
    padding: 20px;
    font-family: $font-family7;

    &-title {
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    &-price {
      font-size: 20px;
      margin-bottom: 50px;
      &::after {
        content: '/ШТ';
        font-size: 16px;
        color: #434343;
      }
    }
    &-desc {
      padding-bottom: 200px;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
}

@media (max-width: 1072px) {
  .fullItem__list {
    flex-wrap: wrap;
    width: 550px;
  }

  .fullItem__info {
    width: 550px;
    padding: 10px;
  }
  .fullItem__info-desc {
    padding-bottom: 50px;
  }
  .fullItem__btn {
    padding-bottom: 100px;
  }
  .logo {
    font-size: 50px;
    &-img {
      max-width: 125px;
      margin-bottom: 35px;
    }
  }
  .catalog__content-main {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
  }
  .content-wrapper {
    grid-template-columns: repeat(3, 1fr);
    &-item {
      height: 250px;
    }
  }
  .about__inner::after {
    left: 50%;
    transform: translateX(-50%);
    height: 87px;
    bottom: -135px;
    width: 25%;
  }
}

@media (max-width: 900px) {
  .catalog__content-item-img {
    height: 230px;
  }
}
@media (max-width: 762px) {
  .catalog__content-title {
    text-align: center;
    padding: 0;
  }
  .content-wrapper {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    &-item {
      height: 300px;
      width: 200px;
    }
  }

  .about__inner {
    text-align: center;
    padding: 120px 50px 0px 50px;
    &::after {
      left: 50%;
      transform: translateX(-50%);
      width: 40%;
    }
  }
  .content {
    padding: 50px;
  }
}
@media (max-width: 760px) {
  .catalog__content-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 682px) {
  .fullItem__list {
    width: 475px;
  }
  .fullItem__info {
    padding: 10px;
  }
  .logo {
    font-size: 40px;
  }
  .fullItem__info {
    width: 400px;
  }
  .fullItem__btn {
    font-size: 22px;
    padding-left: 0;
  }

  .menu__list {
    font-size: 13px;
    &-item + &-item {
      margin-left: 30px;
    }
  }
}

@media (max-width: 500px) {
  .fullItem__list {
    width: 400px;
  }
  .fullItem__info {
    width: 330px;
    padding-left: 30px;
  }
  .logo {
    font-size: 32px;
    &-store {
      font-size: 18px;
      margin-top: 38px;
    }
  }
  .catalog {
    padding-bottom: 50px;
    &__content {
      &-text {
        margin: 12px 0 0 0;
      }
      &-item {
        &-title {
          font-size: 20px;
        }
        &-img {
          height: 180px;
        }
        &-price {
          font-size: 16px;
        }
      }
    }
  }
  .contacts {
    &__box {
      flex-wrap: wrap;
      padding-top: 12rem;
    }
    &__item {
      height: 28px;
      text-align: center;
      width: 100%;
      order: -1;
      border: none;
    }
    &__title {
      margin: 0;
    }
  }
  .content-wrapper-item {
    height: 200px;
    width: 130px;
  }
  .about {
    &__text {
      letter-spacing: 0;
    }
    &__inner {
      font-size: 16px;
      &::after {
        width: 50%;
      }
    }
  }
}

@media (max-width: 390px) {
  .fullItem__list {
    flex-wrap: wrap;
    width: 350px;
    min-height: 200px;
  }
  .fullItem__img {
    height: 350px;
  }
  .fullItem__info {
    width: 280px;
  }
  .catalog__content-title {
    margin: 30px 0 0px 0;
  }
  .catalog__content-main {
    grid-template-columns: repeat(1, 1fr);
    padding: 75px;
  }
  .menu__list {
    &-item + &-item {
      margin-left: 15px;
    }
  }
  .content-wrapper-item {
    height: 150px;
    width: 100px;
  }
  .logo {
    font-size: 26px;
  }
}

@media (max-width: 350px) {
  .fullItem__list {
    flex-wrap: wrap;
    width: 320px;
  }
  .fullItem__info {
    width: 280px;
    font-size: 16px;
  }
}
