@import url('https://fonts.cdnfonts.com/css/draconian-typewriter');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

$font-family1: 'Draconian Typewriter', sans-serif;
$font-family2: 'Special Elite';
$font-family3: 'Gothic A1', sans-serif;
$font-family4: 'Ubuntu', sans-serif;
$font-family5: 'Abel', sans-serif;
$font-family6: 'Merriweather', serif;
$color1: rgb(129, 185, 129);

*::selection {
  background-color: $color1;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: #eaefef;
}

#root,
.App {
  height: 100%;
}

.animatedPage {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  font-family: $font-family1;
  color: #000;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 150px;
  height: 100vh;
  z-index: 100;
  position: relative;
}
.header::before {
  height: 100vh;
  position: absolute;
  width: 100%;
  opacity: 0.75;
  top: 0;
  left: 0;
  content: '';
  background-position: center;
  background-size: cover;
  background-image: url('https://d.radikal.host/2023/02/03/290024511_173111291861811_6834651775604104610_n.jpg');
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100%;
}

.header__inner {
  font-family: $font-family1;
  display: flex;
  justify-content: center;
}

.menu__list {
  padding: 40px 0;
  justify-content: center;
  text-transform: uppercase;
  font-family: $font-family3;
  position: relative;
  align-items: center;
  font-size: 18px;
  display: flex;

  &-item:hover {
    text-decoration: underline;
  }
  &-item + &-item {
    margin-left: 60px;
  }
}

.active {
  color: $color1;
  text-decoration: underline;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  font-size: 80px;
  &-img {
    max-width: 200px;
    margin-bottom: 75px;
  }
  &-store {
    font-size: 26px;
    margin-top: 75px;
    font-family: $font-family2;
    letter-spacing: 4px;
  }
}

// #Content
.content {
  border-top: 1px solid rgb(240, 211, 211);
  padding: 100px 150px 200px 150px;
  &-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    font-family: $font-family4;
  }
  &-wrapper {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
    column-gap: 30px;
    &-item {
      overflow: hidden;
      min-height: 100%;
      box-shadow: 0 0 15px rgb(0 0 0 / 20%);
      &-img {
        object-fit: cover;
        object-position: top;
        transform: scale(1.1);
        width: 100%;
        height: 100%;
        transition: all 0.4s;
      }
      &-img:hover {
        transform: scale(1);
      }
    }
  }
}

.loading {
  text-align: center;
  margin: 30px;
  font-size: 20px;
  padding: 200px;
}

.about {
  height: 100vh;
  &__inner {
    font-size: 24px;
    font-family: $font-family3;
    position: relative;
    padding-top: 120px;
  }
  &__inner::after {
    content: '';
    width: 30%;
    height: 60px;
    bottom: -150px;
    right: -100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/mwl.png);
    position: absolute;
  }
  &__title {
    color: $color1;
    font-size: 40px;
    margin-bottom: 50px;
  }
  &__text {
    margin-bottom: 20px;
    letter-spacing: 3px;
    line-height: 35px;
  }
}

.contacts {
  flex-grow: 1;
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 15rem;
  }
  &__item {
    border-left: 1px solid #000;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__link {
    font-size: 26px;
    font-family: $font-family5;
  }
  &__title {
    font-family: $font-family6;
    letter-spacing: 1px;
    margin-left: 20px;
    font-size: 82px;
  }
  &__svg {
    margin: 7px auto;
  }
}

.footer {
  width: 100%;
  height: 100px;
  &__title {
    margin-left: 10px;
    font-family: $font-family4;
  }
  &__item {
    margin-right: 10px;
  }
  &__inner {
    font-family: $font-family2;
    border-top: 1px solid #000;
    color: #000;
    align-items: center;
    font-size: 26px;
    padding-top: 30px;
    display: flex;
    justify-content: center;

    & svg {
      width: 30px;
      height: 30px;
    }
    &-link + &-link {
      margin-left: 6px;
    }
  }
}
